# python >= 3.8
Django~=4.2.11
Pillow
django-anymail~=10.3
django-materializecss-form>=1.1.15, <2.0
# git+https://github.com/ksiuwr/django-materializecss-form@master#egg=django-materializecss-form
djangorestframework~=3.15
drf-yasg~=1.21
packaging>=24.0
psycopg~=3.1.18
pytz>=2024.1
sentry-sdk~=2.0.1
gunicorn~=22.0.0
argon2-cffi~=23.1.0
boto3>=1.34.93, <2.0
python-dotenv~=1.0.1
google-cloud-secret-manager~=2.20.0
reactivated~=0.41.2
django-stubs-ext~=5.0.0
django-storages[google]~=1.14.3