body {
    background-color: black;
    color: white;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    align-items: center;
    height: 70vh;
    font-size: 20vw;
    font-family: monospace;
    font-weight: bold;
}

#timer-break {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    font-size: 10vw;
    width: 80vw;
}

#timer-break-up {
    color: red;
    display: flex;
    align-self: center;
}

.progress {
    height: 20vh;
}

#bar {
    width: 80vw;
    height: 50%;
    border-radius: 0;
    border-color: white;
    border-width: 1vh;
    background-color: black;
}

#bar.green::-webkit-progress-value {background-color: green !important;}
#bar.green::-moz-progress-bar {background-color: green !important;}
#bar.yellow::-webkit-progress-value {background-color: #cccc00 !important;}
#bar.yellow::-moz-progress-bar {background-color: #cccc00 !important;}
#bar.orange::-webkit-progress-value {background-color: #ff9900 !important;}
#bar.orange::-moz-progress-bar {background-color: #ff9900 !important;}
#bar.red::-webkit-progress-value {background-color: red !important;}
#bar.red::-moz-progress-bar {background-color: red !important;}

#footer {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 2vw;
}
